.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
  }
  
  .createButton {
    background-color: #4caf50; /* Default color when button is enabled */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .createButton:disabled {
    background-color: #cccccc; /* Color when button is disabled */
    cursor: not-allowed; /* Change cursor to indicate that the button is disabled */
  }
  
  .createButton:hover:not(:disabled) {
    background-color: #45a049; /* Hover color when button is enabled */
  }