.h1,
.manage-data-button a {
    text-align: center;
}

.manage-data-button {
    text-align: center;
}

.manage-data-button a {
    display: block;
    padding: 15px 20px;
    margin-bottom: 20px;
    background-color: #008080;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}

.manage-data-button a:hover {
    background-color: #006060;
}